{% block crafting %}
    <div class="row">
    <div class="col-sm-3">
        <div class="card">
            <label for ="" class="card-header" id="lblArmoring" >Armoring</label>
            <input type="text" name="txtArmoring" id="txtArmoring" class="card-body player-info crafting"
                   value="{{ c.armoring }}">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <label for="" class="card-header" id="lblWeaponSmithing" style="font-size: .90rem">Weaponsmith</label>
            <input type="text" name="txtArmoring" id="txtArmoring" class="card-body player-info crafting"
                   value="{{ c.armoring }}">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <label for ="" class="card-header" id="" >Engineering</label>
            <input type="text" name="txtArmoring" id="txtArmoring"
                   class="card-body player-info crafting"
                   value="{{ c.armoring }}">
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <label for ="" class="card-header" id="" >Arcana <br></label>

            <input type="text" name="txtArmoring" id="txtArmoring"
                   class="card-body player-info crafting"
                   value="{{ c.arcana }}">
        </div>
    </div>


    <div class="col-sm-3">

        <div class="card">
            <label for ="" class="card-header" id="lblJewelCrafting" style="font-size: .88rem" >JewelCrafting</label>

            <input type="text" name="txtArmoring" id="txtArmoring" class="card-body player-info crafting"
                   value="{{ c.jewel_crafting }}">
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <label for ="" class="card-header" id="" >Cooking <br></label>

            <input type="text" name="txtArmoring" id="txtArmoring" class="card-body player-info crafting"
                   value="{{ c.cooking }}">
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <label for ="" class="card-header" id="" >Furnishing <br> </label>

            <input type="text" name="txtArmoring" id="txtArmoring" class="card-body player-info crafting"
                   value="{{ c.furnishing }}">
        </div>
    </div>

{% endblock %}

{% block additional_css %}

{% endblock %}