{% block weapon_expertise %}

    <h4 class="player-info expertise"> One-handed </h4>

    <div class="player-info expertise input-group " id="divExpertise">
        {{ exp.exp_sword }}
        <div class="player-info expertise-level input-group row-cols-4" id="divOneHanded">
            <span class="player-info expertise input-group-text col-1" id="lblSwordExpertise"> Sword: </span>
            <input type="text" class="player-info expertise col-1" id="txtSwordExpertise" value="{{ exp.exp_sword }}">

            <span class="player-info expertise input-group-text col-1" id="lblShieldExpertise"> Shield: </span>
            <input type="text" class="player-info expertise col-1" id="txtShieldExpertise" placeholder="{{ exp.exp_shield }}">

            <span class="player-info expertise input-group-text col-1" id="lblRapierExpertise"> Rapier: </span>
            <input type="text" class="player-info expertise col-1" id="txtRapierExpertise" placeholder="500">

            <span class="player-info expertise input-group-text col-1" id="lblHatchetExpertise"> Hatchet: </span>
            <input type="text" class="player-info expertise col-1" id="txtHatchetExpertise" placeholder="500">
        </div>

        <h4 class="player-info expertise"> Two-handed </h4>
        <div class="player-info expertise-level input-group row-cols-3" id="divOneHanded">
            <span class="player-info expertise input-group-text col-1" id="lbl"> Great Axe: </span>
            <input type="text" name="txtGreatAxeExpertise" id="txtGreatAxeExpertise" class="player-info expertise col-1" placeholder="500">

            <span class="player-info expertise input-group-text col-2" id="lbl"> War Hammer: </span>
            <input type="text" name="txtWarHammerExpertise" id="txtWarHammerExpertise" class="player-info expertise col-2" placeholder="500">

            <span class="player-info expertise input-group-text col-1" id="lbl"> Spear: </span>
            <input type="text" name="txtSpearExpertise" id="txtSpearExpertise" class="player-info expertise col-1" placeholder="500">
        </div>

        <h4 class="player-info expertise"> Ranged </h4>
        <div class="player-info expertise-level input-group row-cols-2" id="divOneHanded">
            <span class="player-info expertise input-group-text col-1" id="lbl"> Bow: </span>
            <input type="text" name="txtBowExpertise" id="txtBowExpertise" class="player-info expertise col-1" placeholder="500">

            <span class="player-info expertise input-group-text col-1" id="lbl"> Musket: </span>
            <input type="text" name="txtMusketExpertise" id="txtMusketExpertise" class="player-info expertise col-1" placeholder="500">
        </div>

        <h4 class="player-info expertise"> Magic </h4>
        <div class="player-info expertise-level input-group row-cols-4" id="divOneHanded">
            <span class="player-info expertise input-group-text col-2" id="lblIceGauntletExpertise"> Ice Gauntlet: </span>
            <input type="text" name="txtIceGauntletExpertise" id="txtIceGauntletExpertise"
                   class="player-info expertise col-1" placeholder="500">

            <span class="player-info expertise input-group-text col-2" id="lblVoidGauntletExpertise"> Void Gauntlet: </span>
            <input type="text" name="txtVoidGauntletExpertise" id="txtVoidGauntletExpertise"
                   class="player-info expertise col-1" placeholder="500">

            <span class="player-info expertise input-group-text col-1" id="lblFireStaffExpertise"> Fire Staff: </span>
            <input type="text" name="txtFireStaffExpertise" id="txtFireStaffExpertise" class="player-info expertise col-1" placeholder="500">

            <span class="player-info expertise input-group-text col-1" id="lblLifeStaffExpertise"> Life Staff: </span>
            <input type="text" name="txtLifeStaffExpertise" id="txtLifeStaffExpertise" class="player-info expertise col-1" placeholder="500">
        </div>

    </div>

    <br>

    <h4 class="player-info expertise"> Armor </h4>
    <div class="player-info expertise input-group" id="divExpertise">

        <span class="player-info expertise input-group-text" id="lblHeadExpertise"> Head: </span>
        <input type="text" class="player-info expertise" id="txtHeadExpertise" placeholder="500">

        <span class="player-info expertise input-group-text" id="lblChestExpertise"> Chest: </span>
        <input type="text" class="player-info expertise" id="txtChestExpertise" placeholder="500">

        <span class="player-info expertise input-group-text" id="lblHandsExpertise"> Hands: </span>
        <input type="text" class="player-info expertise" id="txtHandsExpertise" placeholder="500">

        <span class="player-info expertise input-group-text" id="lblLegs"> Legs: </span>
        <input type="text" name="txtLegsExpertise" id="txtLegsExpertise" class="player-info expertise" placeholder="500">

        <span class="player-info expertise input-group-text" id="lblFeet"> Feet: </span>
        <input type="text" name="txtFeetExpertise" id="txtFeetExpertise" class="player-info expertise" placeholder="500">
    </div>
    <h4 class="player-info expertise"> Trinkets </h4>
    <div class="player-info expertise input-group" id="divExpertise">

        <span class="player-info expertise input-group-text" id="lblAmulet"> Amulet: </span>
        <input type="text" name="txtAmuletExpertise" id="txtAmuletExpertise" class="player-info expertise" placeholder="500">

        <span class="player-info expertise input-group-text" id="lblRing"> Ring: </span>
        <input type="text" name="txtRingExpertise" id="txtRingExpertise" class="player-info expertise" placeholder="500">

        <span class="player-info expertise input-group-text" id="lblEarring"> Earring: </span>
        <input type="text" name="txtEarringExpertise" id="txtEarringExpertise" class="player-info expertise" placeholder="500">


    </div>
{% endblock %}