{% block weapon_expertise %}

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <label for="txtExpSword" class="card-header">Sword</label>
                <input type="text" name="txtExpSword" id="txtExpSword" class="player-info crafting card-body"
                       value="{{ exp.exp_sword }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpShield" class="card-header">Shield</label>
                <input type="text" name="txtExpShield" id="txtExpShield" class="player-info expertise card-body" value="{{ exp.exp_shield }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpRapier" class="card-header">Rapier</label>
                <input type="text" name="txtExpRapier" id="txtExpRapier" class="player-info expertise card-body" value="{{ exp.exp_rapier }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpHatchet" class="card-header">Hatchet</label>
                <input type="text" name="txtExpHatchet" id="txtExpHatchet" class="player-info expertise card-body" value="{{ exp.exp_hatchet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpGreatAxe" class="card-header">Great Axe</label>
                <input type="text" name="txtExpGreatAxe" id="txtExpGreatAxe" class="player-info expertise card-body" value="{{ exp.exp_great_axe }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpWarHammer" class="card-header">War Hammer</label>
                <input type="text" name="txtExpWarHammer" id="txtExpWarHammer" class="player-info expertise card-body" value="{{ exp.exp_war_hammer }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpSpear" class="card-header">Spear</label>
                <input type="text" name="txtExpSpear" id="txtExpSpear" class="player-info expertise card-body" value="{{ exp.exp_spear }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpBow" class="card-header">Bow</label>
                <input type="text" name="txtExpBow" id="txtExpBow" class="player-info expertise card-body" value="{{ exp.exp_bow }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpMusket" class="card-header">Musket</label>
                <input type="text" name="txtExpMusket" id="txtExpMusket" class="player-info expertise card-body" value="{{ exp.exp_musket }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpLifeStaff" class="card-header">Life Staff</label>
                <input type="text" name="txtExpLifeStaff" id="txtExpLifeStaff" class="player-info expertise card-body" value="{{ exp.exp_life_staff }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpFireStaff" class="card-header">Fire Staff</label>
                <input type="text" name="txtExpFireStaff" id="txtExpFireStaff" class="player-info expertise card-body" value="{{ exp.exp_fire_staff }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpIceGauntlet" class="card-header">Ice Gauntlet</label>
                <input type="text" name="txtExpIceGauntlet" id="txtExpIceGauntlet" class="player-info expertise card-body" value="{{ exp.exp_ice_gauntlet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpVoideGauntlet" class="card-header">Void Gauntlet</label>
                <input type="text" name="txtExpVoideGauntlet" id="txtExpVoideGauntlet" class="player-info expertise card-body" value="{{ exp.exp_void_gauntlet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpHead" class="card-header">Head</label>
                <input type="text" name="txtExpHead" id="txtExpHead" class="player-info expertise card-body" value="{{ exp.exp_head }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpChest" class="card-header">Chest</label>
                <input type="text" name="txtExpChest" id="txtExpChest" class="player-info expertise card-body" value="{{ exp.exp_chest }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpHands" class="card-header">Hands</label>
                <input type="text" name="txtExpHands" id="txtExpHands" class="player-info expertise card-body" value="{{ exp.exp_hands }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpLegs" class="card-header">Legs</label>
                <input type="text" name="txtExpLegs" id="txtExpLegs" class="player-info expertise card-body" value="{{ exp.exp_legs }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpFeet" class="card-header">Feet</label>
                <input type="text" name="txtExpFeet" id="txtExpFeet" class="player-info expertise card-body" value="{{ exp.exp_feet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpAmulet" class="card-header">Amulet</label>
                <input type="text" name="txtExpAmulet" id="txtExpAmulet" class="player-info expertise card-body" value="{{ exp.exp_amulet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpRing" class="card-header">Ring</label>
                <input type="text" name="txtExpRing" id="txtExpRing" class="player-info expertise card-body" value="{{ exp.exp_ring }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card"><label for="txtExpEarring" class="card-header">Earring</label>
                <input type="text" name="txtExpEarring" id="txtExpEarring" class="player-info expertise card-body" value="{{ exp.exp_earring }}">
            </div>
        </div>


    </div>
{% endblock %}