
{% block gathering %}

    <div class="row">
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Mining</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ g.mining }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Harvesting</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ g.harvesting }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Logging</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ g.logging }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Skinning</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ g.skinning }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Fishing</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ g.fishing }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Stone Cutting</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ r.stone_cutting }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Smelting</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ r.smelting }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Weaving</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ r.weaving }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering" style="font-size:.89rem">Woodworking</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ r.woodworking }}">
            </div>
        </div>
        <div class="col-sm-3 player-info gathering">
            <div class="card player-info gathering">
                <label for="" class="card-header player-info gathering">Tanning</label>
                <input type="text" name="" id="" class="card-body player-info gathering" value="{{ r.tanning }}">
            </div>
        </div>

    </div>


{% endblock %}