
{% block gathering %}

        <div class="player-info gathering input-group" id="DivGathering">
            <span class="player-info gathering input-group-text" id="lblMining">Mining:</span>
            <input type="text" name="txtMining" id="txtMining" class="player-info gathering">
        
            <span class="player-info gathering input-group-text" id="lblHarvesting">Harvesting:</span>
            <input type="text" name="txtHarvesting" id="txtHarvesting" class="player-info gathering">

            <span class="player-info gathering input-group-text" id="lblLogging">Logging:</span>
            <input type="text" name="txtLogging" id="txtLogging" class="player-info gathering">

            <span class="player-info gathering input-group-text" id="lblSkinning">Skinning:</span>
            <input type="text" name="txtSkinning" id="txtSkinning" class="player-info gathering">

            <span class="player-info gathering input-group-text" id="lblFishing">Fishing:</span>
            <input type="text" name="txtFishing" id="txtFishing" class="player-info gathering">
        </div>

    <div class="player-info refining input-group" id="divRefining">

        <span class="player-info refining input-group-text" id="lblStoneCutting">Stone Cutting:</span>
        <input type="text" name="txtStoneCutting" id="txtStoneCutting" class="player-info refining">

        <span class="player-info refining input-group-text" id="lblSmelting">Smelting:</span>
        <input type="text" name="txtSmelting" id="txtSmelting" class="player-info refining">

        <span class="player-info refining input-group-text" id="lblWeaving">Weaving:</span>
        <input type="text" name="txt" id="txtWeaving" class="player-info refining">

        <span class="player-info refining input-group-text" id="lblWoodworking">Woodworking:</span>
        <input type="text" name="txtWoodworking" id="txtWoodworking" class="player-info refining">

        <span class="player-info refining input-group-text" id="lblCooking">Cooking:</span>
        <input type="text" name="txtCooking" id="txtCooking" class="player-info refining">

        <span class="player-info refining input-group-text" id="lblTanning">Tanning:</span>
        <input type="text" name="txtTanning" id="txtTanning" class="player-info refining">
    </div>


{% endblock %}