

{% block player %}

    <div class="player-info player input-group row-cols-2">
        <span class="player-info player input-group-text col-2" id="lblPlayerName"> Player Name: </span>
        <input type="text" name="txtPlayerName" id="txtPlayerName" class="player-info player col-5" value="{{ exp.exp_sword }}" >

        <span class="player-info player input-group-text col-1" id="lblPlayerLevel"> Level: </span>
        <input type="text" name="txtPlayerLevel" id="txtPlayerLevel" class="player-info player col-1">
    </div>

{% endblock %}