{% block weapon_level %}
    <h4 class="player-info weapon-levels col"> One-handed </h4>

    <div class="player-info weapon-levels input-group row-cols-4" id="divOneHanded">
        <span class="player-info weapon-levels input-group-text col-1" id="lblSwordLevel"> Sword: </span>
        <input type="text" class="player-info weapon-levels col-1" id="txtSwordLevel">


        <span class="player-info weapon-levels input-group-text col-1" id="lblShieldLevel"> Shield: </span>
        <input type="text" class="player-info weapon-levels col-1" id="txtShieldLevel">


        <span class="player-info weapon-levels input-group-text col-1" id="lblRapierLevel"> Rapier: </span>
        <input type="text" class="player-info weapon-levels col-1" id="txtRapierLevel">


        <span class="player-info weapon-levels input-group-text col-1" id="lblHatchetLevel"> Hatchet: </span>
        <input type="text" class="player-info weapon-levels col-1" id="txtHatchetLevel">
    </div>
    <div class="">
    <h4 class="player-info weapon-levels"> Two-handed </h4>
    </div>
    <div class="player-info weapon-levels input-group row-cols-3" id="divTwoHanded">
        <span class="player-info weapon-levels input-group-text col-1" id="lbl"> Great Axe: </span>
        <input type="text" name="txtGreatAxeLevel" id="txtGreatAxeLevel" class="player-info weapon-levels col-1">

        <span class="player-info weapon-levels input-group-text col-2" id="lbl"> War Hammer: </span>
        <input type="text" name="txtWarHammerLevel" id="txtWarHammerLevel" class="player-info weapon-levels col-1">

        <span class="player-info weapon-levels input-group-text col-1" id="lbl"> Spear: </span>
        <input type="text" name="txtSpearLevel" id="txtSpearLevel" class="player-info weapon-levels col-1">

    </div>

    <div class="">
        <h4 class="player-info weapon-levels"> Ranged </h4>
    </div>
    <div class="player-info weapon-levels input-group" id="divRanged">
        <span class="player-info weapon-levels input-group-text" id="lbl"> Bow: </span>
        <input type="text" name="txtBowLevel" id="txtBowLevel" class="player-info weapon-levels">

        <span class="player-info weapon-levels input-group-text" id="lbl"> Musket: </span>
        <input type="text" name="txtMusketLevel" id="txtMusketLevel" class="player-info weapon-levels">
    </div>
    <div class="">
        <h4 class="player-info weapon-levels"> Magic </h4>
    </div>
    <div class="player-info weapon-levels input-group row-cols-4" id="divMagic">

        <span class="player-info weapon-levels input-group-text cols-2" id="lblIceGauntletLevel"> Ice Gauntlet: </span>
        <input type="text" name="txtIceGauntletLevel" id="txtIceGauntletLevel" class="player-info weapon-levels cols-1">

        <span class="player-info weapon-levels input-group-text cols-2" id="lblVoidGauntletLevel"> Void Gauntlet: </span>
        <input type="text" name="txtVoidGauntletLevel" id="txtVoidGauntletLevel" class="player-info weapon-levels cols-1">

        <span class="player-info weapon-levels input-group-text cols-1" id="lblFireStaffLevel"> Fire Staff: </span>
        <input type="text" name="txtFireStaffLevel" id="txtFireStaffLevel" class="player-info weapon-levels cols-1">

        <span class="player-info weapon-levels input-group-text cols-1" id="lblLifeStaffLevel"> Life Staff: </span>
        <input type="text" name="txtLifeStaffLevel" id="txtLifeStaffLevel" class="player-info weapon-levels cols-1">

    </div>

{% endblock %}