{% block weapon_level %}

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Sword</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_sword }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Rapier</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_rapier }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Hatchet</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_hatchet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Great Axe</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_great_axe }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">War Hammer</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_war_hammer }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Spear</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_spear }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Bow</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_bow }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Musket</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_musket }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Ice Gauntlet</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_ice_gauntlet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Void Gauntlet</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_void_gauntlet }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Fire Staff</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_fire_staff }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <label for="txt" class="card-header" id="lbl">Life Staff</label>
                <input type="text" name="txt" id="txt" class="card-body player-info weapon-levels" value="{{ w.level_life_staff }}">
            </div>
        </div>

    </div>


{% endblock %}