
{% block refining %}

        <div class="player-info refining" id="divRefining">
            <h2 class="refining heading">Refining</h2>
            <label for="txtStoneCutting" class="player-info refining" id="lblStoneCutting">Stone Cutting:</label>
            <input type="text" name="txtStoneCutting" id="txtStoneCutting" class="player-info refining">

            <label for="txtSmelting" class="player-info refining" id="lblSmelting">Smelting:</label>
            <input type="text" name="txtSmelting" id="txtSmelting" class="player-info refining">

            <label for="txtWeaving" class="player-info refining" id="lblWeaving">Weaving:</label>
            <input type="text" name="txt" id="txtWeaving" class="player-info refining">

            <label for="txtWoodworking" class="player-info refining" id="lblWoodworking">Woodworking:</label>
            <input type="text" name="txtWoodworking" id="txtWoodworking" class="player-info refining">

            <label for="txtCooking" class="player-info refining" id="lblCooking">Cooking:</label>
            <input type="text" name="txtCooking" id="txtCooking" class="player-info refining">

            <label for="txtTanning" class="player-info refining" id="lblTanning">Tanning:</label>
            <input type="text" name="txtTanning" id="txtTanning" class="player-info refining">
        </div>

{% endblock %}