body {
    background-color: #212121;
    max-width: 1200px;
    margin: 0 100px;
}

input {
    width: 50px;

}

h1 {
    color: goldenrod;
}

h2 {
    color: black;
}

h2.heading{
    text-align: center;
    color: rgba(183, 0, 255, 0.71);
}

h3 {
    color: white;
}

h4 {
    color: #ffffff;
    text-decoration: underline;
}


hr {
    color:white;
}

label {
    background-color: #212121;
    padding: 5px;
}
th {
    font-size: 14px;
}

td {
    font-size: 14px;
}

.card {
    width: 8rem;
    height: 8rem;
    text-align:center;
}

.col-sm-3 {
    width: 9rem;
    height: 9rem;
}

input.card-body {
    width: 7.75rem;
    font-size: 2rem;
    text-align: center;
}

.card-header{
    font-size: .91rem;
    font-weight: bold;
    height: 3.25rem;
}
.main-heading {
    text-align: center;

}

.input-group-text {
    border-radius: 0;
    padding: .25em
}

.input-group {
    padding: .5em;
    border: 1px solid wheat;
}

.player-info {
    border:none;
}

.accordion-button {
    background-color: #212121;
    color: wheat;
}

.accordion-button:not(.collapsed) {
    background-color: goldenrod;
    color: black;
}

.accordion-body {
    background-color: grey;
    color:#212121;
}

.search-button {
    width: 100px;
}