
{% block crafting %}

        <div class="crafting player-info crafting input-group" id="divCrafting">

            <label for="txtArmoring" class="player-info crafting input-group-text" id="lblArmoring">Armoring:</label>
            <input type="text" name="txtArmoring" id="txtArmoring" class="player-info crafting">

            <label for="txtArcana" class="player-info crafting input-group-text" id="lblArcana">Arcana:</label>
            <input type="text" name="txtArcana" id="txtArcana" class="player-info crafting">

            <label for="txtCooking" class="player-info crafting input-group-text" id="lblCooking">Cooking:</label>
            <input type="text" name="txtCooking" id="txtCooking" class="player-info crafting">

            <label for="txtEngineering" class="player-info crafting input-group-text" id="lblEngineering">Engineering:</label>
            <input type="text" name="txtEngineering" id="txtEngineering" class="player-info crafting">

            <label for="txtFurnishing" class="player-info crafting input-group-text" id="lblFurnishing">Furnishing</label>
            <input type="text" name="txtFurnishing" id="txtFurnishing" class="player-info crafting">

            <label for="txtJewelCrafting" class="player-info crafting input-group-text" id="lblJewelCrafting">Jewel Crafting:</label>
            <input type="text" name="txtJewelCrafting" id="txtJewelCrafting" class="player-info crafting">

            <label for="txtWeaponSmithing" class="player-info crafting input-group-text" id="lblWeaponSmithing">Weapon Smithing:</label>
            <input type="text" name="txtWeaponSmithing" id="txtWeaponSmithing" class="player-info crafting">
        </div>
{% endblock %}

{% block additional_css %}

{% endblock %}