
{% block gathering %}

        <div class="player-info gathering" id="DivGathering">
            <h2 class="gathering heading">Gathering</h2>
            <label for="txtMining" class="player-info gathering" id="lblMining">Mining:</label>
            <input type="text" name="txtMining" id="txtMining" class="player-info gathering">

            <label for="txtHarvesting" class="player-info gathering" id="lblHarvesting">Harvesting:</label>
            <input type="text" name="txtHarvesting" id="txtHarvesting" class="player-info gathering">

            <label for="txtLogging" class="player-info gathering" id="lblLogging">Logging:</label>
            <input type="text" name="txtLogging" id="txtLogging" class="player-info gathering">

            <label for="txtSkinning" class="player-info gathering" id="lblSkinning">Skinning:</label>
            <input type="text" name="txtSkinning" id="txtSkinning" class="player-info gathering">

            <label for="txtFishing" class="player-info gathering" id="lblFishing">Fishing:</label>
            <input type="text" name="txtFishing" id="txtFishing" class="player-info gathering">
        </div>


{% endblock %}