
{% block weapon_level %}
    <div class="section-heading">
        <h2 class="player-info weapon-levels">Weapon Levels</h2>
    </div>
    <br>
    <div class="weapons">
            <div class="player-info weapon-levels" id="divPlayerWeapons">
                <div class="player-info weapon-levels" id="divOneHandedLevels">
                    <label for="txtSwordLevel" class="player-info weapon-levels" id="lblSwordLevel">Sword: </label>
                    <input type="text" class="player-info weapon-levels" id="txtSwordLevel">

                    <label for="txtShieldLevel" class="player-info weapon-levels" id="lblShieldLevel">Shield: </label>
                    <input type="text" class="player-info weapon-levels" id="txtShieldLevel">

                    <label for="txtRapierLevel" class="player-info weapon-levels" id="lblRapierLevel">Rapier: </label>
                    <input type="text" class="player-info weapon-levels" id="txtRapierLevel">

                    <label for="txtHatchetLevel" class="player-info weapon-levels" id="lblHatchetLevel">Hatchet: </label>
                    <input type="text" class="player-info weapon-levels" id="txtHatchetLevel">
                </div>

                <div class="player-info weapon-levels" id="divTwoHandedLevels">
                    <label for="txtGreatAxe" class="player-info weapon-levels" id="lbl">Great Axe: </label>
                    <input type="text" name="txtGreatAxeLevel" id="txtGreatAxeLevel" class="player-info weapon-levels">

                    <label for="txtWarHammerLevel" class="player-info weapon-levels" id="lbl">WarHammer: </label>
                    <input type="text" name="txtWarHammerLevel" id="txtWarHammerLevel" class="player-info weapon-levels">

                    <label for="txtSpearLevel" class="player-info weapon-levels" id="lbl">Spear: </label>
                    <input type="text" name="txtSpearLevel" id="txtSpearLevel" class="player-info weapon-levels">

                </div>

                <div class="player-info weapon-levels" id="divRangedLevels">

                    <label for="txtBowLevel" class="player-info weapon-levels" id="lbl">Bow: </label>
                    <input type="text" name="txtBowLevel" id="txtBowLevel" class="player-info weapon-levels">

                    <label for="txtMusketLevel" class="player-info weapon-levels" id="lbl">Musket: </label>
                    <input type="text" name="txtMusketLevel" id="txtMusketLevel" class="player-info weapon-levels">

                </div>

                <div class="player-info weapon-levels" id="divMagicLevels">

                    <label for="txtIceGauntletLevel" class="player-info weapon-levels" id="lblIceGauntletLevel">Ice Gauntlet: </label>
                    <input type="text" name="txtIceGauntletLevel" id="txtIceGauntletLevel" class="player-info weapon-levels">

                    <label for="txtVoidGauntletLevel" class="player-info weapon-levels" id="lblVoidGauntletLevel">Void Gauntlet: </label>
                    <input type="text" name="txtVoidGauntletLevel" id="txtVoidGauntletLevel" class="player-info weapon-levels">

                    <label for="txtFireStaffLevel" class="player-info weapon-levels" id="lblFireStaffLevel">Fire Staff: </label>
                    <input type="text" name="txtFireStaffLevel" id="txtFireStaffLevel" class="player-info weapon-levels">

                    <label for="txtLifeStaffLevel" class="player-info weapon-levels" id="lblLifeStaffLevel">Life Staff: </label>
                    <input type="text" name="txtLifeStaffLevel" id="txtLifeStaffLevel" class="player-info weapon-levels">

                </div>
            </div>
    </div>
    {% endblock %}