{% extends 'shared/_layout.html' %}

{% block main-content %}

    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Player Name </th>
            <th scope="col"> Level </th>
            <th scope="col"> Company </th>
            <th scope="col"> Primary Role </th>
            <th scope="col"> Secondary Role</th>
            <th scope="col"> Avg. Watermark </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Tarendil</td>
            <td>60</td>
            <td>Ascending Phoenix</td>
            <td>Healer</td>
            <td>Bait</td>
            <td>500</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Tarendil</td>
            <td>60</td>
            <td>Ascending Phoenix</td>
            <td>Healer</td>
            <td>Bait</td>
            <td>500</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Tarendil</td>
            <td>60</td>
            <td>Ascending Phoenix</td>
            <td>Healer</td>
            <td>Bait</td>
            <td>500</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Tarendil</td>
            <td>60</td>
            <td>Ascending Phoenix</td>
            <td>Healer</td>
            <td>Bait</td>
            <td>500</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block additional_css %}

{% endblock %}
