{% extends 'shared/_layout.html' %}

{% block main-content %}
    <form action="post" class="player-info">
    <div class="player">
        <div class="section">
            {% include 'form_templates/player_templates/player.html' %}
        </div>

        <div class="section">
            {% include 'form_templates/player_templates/weapon_level.html' %}
        </div>

        <div class="section">
            {% include 'form_templates/player_templates/gathering.html' %}
        </div>

        <div class="section">
            {% include 'form_templates/player_templates/refining.html' %}
        </div>

        <div class="section">
            {% include 'form_templates/player_templates/crafting.html' %}
        </div>
    </div>
        <button class="player-info">Save</button>
    </form>
{% endblock %}

{% block additional_css %}

{% endblock %}
