{% extends 'shared/_layout.html' %}

{% block main-content %}
    <form action="post" class="player-info">
        <div>
        {% include 'form_templates/player_templates/player.html' %}
        </div>
        {% include 'form_templates/player_templates/weapon_level.html' %}

        {% include 'form_templates/player_templates/gathering.html' %}

        {% include 'form_templates/player_templates/refining.html' %}

        {% include 'form_templates/player_templates/crafting.html' %}
        <br>
        <button class="player-info">Save</button>
    </form>
{% endblock %}

{% block additional_css %}

{% endblock %}
